<launch>
   
   <!-- Load controller settings  -->
   <rosparam file="$(find manipulator_hw)/config/controllers.yaml"  command="load" />

   <!-- Load hardware interface -->
   <node name="manipulator_hw_node" pkg="manipulator_hw" type="node" output="screen" /> 

   <!-- Load controller manager  -->
   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
   output="screen" args="joint_state_controller arm_position_controller" /> 


</launch>
