<launch>
 
 <!-- RVIZ  -->
   
    <!-- Load the URDF to the parameter server -->
    <param name="robot_description" textfile="$(find blackarm_description)/urdf/blackarm_description.urdf"/>


    <!-- Show in Rviz  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find normal_hi)/moveit.rviz"/>

 <!-- CORE  -->

   <!-- <group ns="manip"> -->
      <!-- Load controller settings  -->
      <rosparam file="$(find normal_hi)/config/controllers.yaml" command="load"/>


      <!-- Load hardware interface -->
      <node name="normal_hw_main" pkg="normal_hi" type="normal_hw_main" output="screen"/> 

      <!-- simualte a robot -->
      <!-- <node name="aubo_sim_echo" pkg="aubo_control" type="aubo_sim_echo" output="screen"/> -->

      <!-- Load controller manager  -->
    <!-- <node name="trajectory_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
     output="screen"  args="joint_state_controller arm_position_controller hand_position_controller"/> -->

      <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
      output="screen"  args="spawn joint_state_controller arm_position_controller hand_position_controller" />
    

      <!-- Convert joint states to /tf tranforms -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- </group> -->

     <!-- Load scene-->
    <!-- <node name="planning_scene_primatives" pkg="aubo_motion" type="planning_scene_primatives" output="screen"/>   -->

 <!-- MOVEIT -->



    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find blackarm_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    </include> 


    <!-- Remap follow_joint_trajectory
     <remap from="/joint_trajectory_action" to="/arm_position_controller/follow_joint_trajectory"/>
     <remap from="/joint_trajectory_action" to="/hand_position_controller/follow_joint_trajectory"/> -->
  

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default)   -->
    <include file="$(find blackarm_moveit_config)/launch/move_group.launch">
         <arg name="allow_trajectory_execution" value="true"/>
         <arg name="fake_execution_type" value="false"/>
         <arg name="info" value="true"/> 
    </include> 

  
</launch>