<?xml version="1.0"?>
<launch>
  
	<!-- Launch arguments -->
	<arg name="num_samples" default="1000" />
	<arg name="chain_start" default="base_link" />
	<arg name="chain_end" default="ee_center" />
	<arg name="timeout" default="0.005" />

	<!-- Load robot description --> 
	<include file="$(find manipulator_description)/launch/load.launch" />

	<!-- Publish robot state (joints) as TF -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Joint State Publisher -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<rosparam param="source_list">["manipulator/joint_states"]</rosparam>
	</node>

	<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

	<!-- Node for testing inverse kinematics -->
	<node name="ik_tests" pkg="manipulator_planning" type="ik_tests" output="screen">
		<param name="num_samples" value="$(arg num_samples)"/>
		<param name="chain_start" value="$(arg chain_start)"/>
		<param name="chain_end" value="$(arg chain_end)"/>
		<param name="timeout" value="$(arg timeout)"/>
		<param name="urdf_param" value="/robot_description"/>
	</node>

	<!-- RViz -->
	<node name="rviz"  pkg="rviz" type="rviz" args="-d $(find manipulator_planning)/rviz/config.rviz" required="true" />

</launch>
